body {
    background-color: #f9fafc;
    font-weight: 300;
    font-family: 'Bubblegum Sans', cursive,
        sans-serif;
    color: rgb(110, 109, 109);

}

.navbar,
.footer {
    background-image: linear-gradient(to right bottom, #ffeace, #d0bea5, #a3937e, #776b59, #4f4537);
}

.logo img {
    max-width: 110px;
    height: 20%;
}

.card-text1 input {
    width: 200px;
    border: none;
}

.card-text textarea,
.card-text select {
    border: none;
}

.gif img {
    max-width: 150px;
}

.card-img-top {
    max-height: 300px;
    width: 75%;
}

.fab {
    color: white;
}

.form-group textarea {
    height: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card1,
.card2,
.masthead-image img,
.post1,
.featured_image {
    width: 75%;
}

.signin {
    font-size: 25px;
}

.fox,
.page-title,
.title1 {
    font-size: 45px;
}



.col-sm,
.nav-item,
.card-title {
    font-size: 30px;

}

.m-0,
.m,
.btn {
    font-size: 20px;
}



.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: gray;
}

.red-o {
    color: #e84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #f9fafc;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23bbbb;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23bbbb;
    color: #fff;
}

.btn-1 {
    background-color: grey;
    color: white;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23bbbb;
}

.link {
    color: #23bbbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e84610;
    background: transparent;
    border: none;
}


#signup-form a {
    color: white;
    text-decoration: none;
}

.fox1 {
    font-size: 45px;
}

@media (max-width: 566px) {

    .fox1,
    .fox,
    .page-title,
    .title1 {
        font-size: 35px;

    }
}

@media (max-width: 474px) {

    .fox1,
    .fox,
    .page-title,
    .nav-link,
    .title1 {
        font-size: 30px;

    }
}

@media (max-width: 474px) {
    .nav-link {
        font-size: 25px;

    }
}