{% extends "base.html" %} {% block content %}
<!-- The about page explains more Fox Terriers-->

<div class="contianer text-center">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-9 col-sm-10 col mt-3">
            <h1 class="fox"><u>About Fox Terriers</u></h1>
        </div>
    </div>
</div>
<!--First card for the Wired Haired Fox Terriers details-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-2">
            <div class="card mx-auto">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dtqjcm9e6/image/upload/v1696339611/dog7_wpfrbr.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-center">Wired Haired Fox Terrier</h4>
                    <p class="card-text">The Wire Fox Terrier breed standard says they should be 'on the tip-toe of
                        expectation at the slightest provocation. Once a mainstay of traditional British foxhunts,
                        today's Wire is a handsome and amusing companion and master show dog. The Wire Fox Terrier, 16
                        to 18 pounds of coiled energy is a sturdy, symmetrical, short-backed hunter with fire and
                        intelligence shining in its dark, round eyes. The predominantly white coat is rough and wiry;
                        the V-shaped ears are neatly folded forward, the better to point up the face's distinctive, and
                        completely irresistible, expression. Wires are delightful pets for families looking for an
                        upbeat, friendly companion with loads of personality</p>
                    <a href="https://en.wikipedia.org/wiki/Wire_Fox_Terrier">Learn more about Wired Haired Fox
                        Terriers</a>
                </div>
            </div>
        </div>

        <!--Second card for the Smooth Haired Fox Terriers details-->
        <div class="col-md-6 mt-2">
            <div class="card mx-auto">
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dtqjcm9e6/image/upload/v1696339610/dog8_e66ile.jpg"
                    alt="Card image">
                <div class="card-body">
                    <h4 class="card-title text-center">Smooth Haired Fox Terrier</h4>
                    <p class="card-text">Smooths are quite similar to their close relatives, Wire Fox Terriers. Like
                        their crispy-coated cousins, Smooths stand no more than 15.5 inches at the shoulder. The
                        distinguishing physical trait, besides coat type, is the head: A Smooth's head is more V-shaped
                        than a Wire's. The dense, flat coat is predominantly white, with black, tan, or black-and-tan
                        markings. These cleverly made hunters are strong and sturdy, but never coarse and clunky.
                        Short-backed and symmetrical, they move with the unwavering grace of a pendulum clock.</p>
                    <a href="https://en.wikipedia.org/wiki/Smooth_Fox_Terrier">Learn more about Smooth Haired Fox
                        Terriers</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}