{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

<!-- The adoption page sets out a form for potential adoptees-->
<div class="container">
    <h1 class="page-title text-center">Adoption Page</h1>
    <h4 class="text-center">Can you offer a Fox Terrier that didnt have the best start to their life, a place to live?,
        where they will be loved and cherished as all dogs should be. We'd love to here from you. Just fill in the from
        and we'll be in touch.</h4>
    <hr class="adoption">
    <br>
    <!-- Checks and displays a success message when submitted-->
    {% if success_message %}
    <div id="msg" class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
    {% endif %}

    <!--Form to display the adoption questions -->
    <form method="post" class="form" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h5 class="card-header">Name</h5>
                        <div class="card-body">
                            <div class="card-text1">{{ adoption_form.name|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h5 class="card-header">Email</h5>
                        <div class="card-body">
                            <div class="card-text1">{{ adoption_form.email|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Fox Terrier Type</h5>
                    <div class="card-body">
                        <div class="card-text">{{ adoption_form.terrier_type|as_crispy_field }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Sex</h5>
                    <div class="card-body">
                        <div class="card-text">{{ adoption_form.sex|as_crispy_field }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h5 class="card-header">
                            What Age Fox Terrier would you like?
                        </h5>
                        <div class="card-body">
                            <div class="card-text">{{ adoption_form.age|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h5 class="card-header">Why do you want a Fox Terrier?</h5>
                        <div class="card-body">
                            <div class="card-text">{{ adoption_form.why|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h5 class="card-header">
                            what Experience with dogs do you have?
                        </h5>
                        <div class="card-body">
                            <div class="card-text">{{ adoption_form.experience|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <h5 class="card-header">Any additional notes</h5>
                        <div class="card-body">
                            <div class="card-text">{{ adoption_form.notes|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--security token to prevent against attacks-->
            <div class="text-center ">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary m-2">Submit</button>
                <a class="btn btn-outline-secondary m-2" href="{% url 'index' %}">Cancel</a>
            </div>
        </div>

    </form>


</div>
<!-- Checks and displays a success message when submitted-->
<div class="container">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for messages in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{%endblock%}