{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- The adoption detail page sets out a form the potential adoptees have submitted that can be updated and deleted-->

<div class="container">
    <h1 class="page-title text-center">Your Adoption/Rehome Information</h1>
    <h6 class="text-center">(saved under your name in Adoption/Rehome Details)</h6>
    <hr class="adoption">
    <br>

    <!--Adoption form-->

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <h5 class="card-header">Adoption/Rehome</h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.adoption_type }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h5 class="card-header">Fox Terrier Type</h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.terrier_type }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h5 class="card-header">Sex</h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.sex }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Name</h5>
                    <div class="card-body">
                        <div class="card-text">{{ adoption.name }}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <h5 class="card-header">Email</h5>
                    <div class="card-body">
                        <div class="card-text">{{ adoption.email }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    Fox Terrier Age
                </h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.age }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Why you want a Fox Terrier</h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.why }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    Your Experince with dogs
                </h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.experience }}</div>
                </div>
            </div>
            <a class="btn btn-outline-secondary m-2" href="{% url 'update_adoption' pk=adoption.id %}">Update</a>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Any additional notes</h5>
                <div class="card-body">
                    <div class="card-text">{{ adoption.notes }}</div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <a class="btn btn-outline-secondary m-2" href="{% url 'delete_adoption' pk=adoption.pk %}">Delete</a>
                <a class="btn btn-outline-secondary m-2 " href="{% url 'adoption' %}">Cancel</a>
            </div>
        </div>
    </div>
</div>


</div>
{%endblock%}