{% extends "base.html" %} {% block content %}
{% load crispy_forms_tags %}

<!-- The rehoming page sets out a form for the user to rehome their dog-->
<div class="container">
    <h1 class="page-title text-center">RehomePage</h1>
    <h4 class="text-center">Life can be very challenging especially, with a fox terrier. If your thinking of rehoming
        your fox terrier please get in touch. We'd love to here from you. Just fill in the form and we'll be in touch.
    </h4>
    <hr class="rehome">
    <br>
    <!-- Checks and displays a success message when submitted-->
    {% if success_message %}
    <div id="msg" class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
    {% endif %}
    <!--Form to display the rehoming questions -->
    <form method="post" class="m" enctype="multipart/form-data">
        {{ rehome_form|crispy }}
        <!--security token to prevent against attacks-->
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
        <a class="btn btn-outline-secondary m-2" href="{% url 'index' %}">Cancel</a>
    </form>
</div>
<!-- Checks and displays a success message when submitted-->
<div class="container">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for messages in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{%endblock%}