{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}


<div class="container">
    <h1 class="page-title text-center">Your Rehoming Information</h1>
    <hr class="adoption">
    <br>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    Fox Terrier Type
                </h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.terrier_type }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Sex</h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.sex }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    Fox Terrier Age
                </h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.age }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Why you want to rehome your Fox Terrier</h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.why }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    What are they like around other dogs?
                </h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.behaviour }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Any additional notes</h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.notes }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    Name
                </h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.name }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Email</h5>
                <div class="card-body">
                    <div class="card-text">{{ rehome.email }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}