{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!--Page to Update the adoption request submitted-->
<div class="container">
    <h1 class="page-title text-center m-3">Update Adoption Page</h1>
    <hr class="adoption">
    <br>
    <div class="text-center m-3">
        <form method="post" action="" class="m" enctype="multipart/form-data">
            <!--security token to prevent against attacks-->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
            <a class="btn btn-outline-secondary m-4" href="{% url 'index' %}">Cancel</a>
        </form>
    </div>
</div>
<!-- Checks and displays a success message when submitted-->
<div class="container">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for messages in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
</div>

{%endblock%}