{% extends 'base.html' %} 

{% block content %}

{%  load crispy_forms_tags %}

<div class="container">
    <h1 class="page-title text-center">Update Post Page</h1>
    <hr class="post">
    <br>
    <div class="text-center">
        <form method="post" action="" class="m" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
            <a class="btn btn-outline-secondary m-2" href="{% url 'index' %}">Cancel</a>
        </form>
    </div>
</div>
<div class="container">
    {%  if messages %}
        <div class="alert alert-success" role="alert">
            {%  for messages in messages %}
                {{ message }}
            {% endfor %}  
        </div>
    {%  endif %}
</div>
{%endblock%}